body {
    height: 100vh;
}

.main {
    width: 40vw;
    height: 40vw;
    background: url(clock.png) no-repeat;
    margin: auto;
    background-size: 100%;
    position: relative;
    border: 2px solid black;
}


.hour {
    position: absolute;
    width: 10px;
    height: 25%;
    background-color: black;
    top: 25%;
    left: 49%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform-origin: bottom;


}

.minute {
    position: absolute;
    width: 7px;
    height: 31%;
    background-color: black;
    top: 21%;
    left: 49%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform-origin: bottom;

}

.second {
    position: absolute;
    width: 3px;
    height: 34%;
    background-color: black;
    top: 15%;
    left: 49%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform-origin: bottom;


}